body {
  background:#B78240;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: center;
  margin: 0;
  box-shadow:
    inset 0 4px 15px #f3bc7a;
}
button:hover {
  cursor: pointer;
}

.helptext {
  display: flex;
  background:white;
  border: 2px solid rgba(0, 0, 0, 0);
  padding: 10px 15px;
  border-radius: 10px;
  position: fixed;
  font-family: swister, sans-serif;
  font-weight: 400;
  letter-spacing: 2px;
  font-style: normal;
  font-size: 1em;
  right: 5px;
  top: 5px;
  z-index: 1000000000;
  color: #202124;
  transition: all .2s ease-in-out;
  box-shadow: 0px 3px 8px 0px rgba(0, 0, 0, 0.35);
  flex-direction: row;
}

.helptext svg {
  max-width: 20px;
  padding: 10px;
  margin-left: 20px;
  fill: #37383d70;
}
.helptext p, .helptext h4 {
  margin: 0;
}
.helptext svg:hover {
  fill: #202124;
}

/* color classes */
.blue {
  color: #176BEF;
}
.red {
  color: #FF3E30
}
.yellow {
  color: #F7B529
}
.green {
  color: #179C52
}
.gray {
  color: #969696
}
.darkgray {
  color: #363636
}

.button-wrapper {
  width: 48px;
  margin: 1vh 5px;
}
button {
  background-color: rgba(255, 255, 255, 0.1);
  border: 2px solid #e2e2e2;
  font-size: 1rem;
  color:#e2e2e2;
  outline: none;
  margin: 5vh 0;
  transition: all .2s ease-in-out;
}
#scrollDown {
  border-radius: 10px 10px 50px 50px;
  padding: 2px 5px 4px 5px;
}
#scrollUp {
  padding: 4px 5px 2px 5px;
  border-radius: 50px 50px 10px 10px;
}
button:hover{
  background-color: rgba(227, 227, 227, 0.25);
  transform: scale(1.1)
}
button svg {
  width: 32px;
  fill: #e2e2e2;
}
#scrollDown svg {
  transform: rotate(180deg);
}
.wrapper {
  font-family: swister, sans-serif;
  font-weight: 400;
  letter-spacing: 1.5px;
  font-style: normal;
  margin: 2vh;
  background-color:#43553d;
  background-size:100% 100%;
  box-shadow:
    /* inset 0 0 200px #181818,      inner white */
    0 0 5px #0000001f;           /* outer white */
  background-image: url('assets/annie-spratt-unsplash.jpg');
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  color: #202124;
  height: 94vh;
  overflow: hidden;
  /* padding: 2vh 0; */
  padding-top: 2vh
}
.screen {
  font-family: 'Open Sans', sans-serif;
  letter-spacing: 0px;
  font-size: 1rem;
  display: flex;
  flex-direction: column;
  line-height: 2rem;
  border: 20px solid #dbdbdb;
  border-radius: 10px;
  overflow-y: scroll;
  height: 75vh;
  max-height: 600px;
  width: 40vw;
  background: white;
  box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.5);
  z-index: 100000;
}
.col::-webkit-scrollbar, .center::-webkit-scrollbar {
    display: none;
}
.col {
  overflow: hidden;
  /* overflow-y: auto; */
  -ms-overflow-style: none;
  scrollbar-width: none; 
  height: 80vh;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1rem;
  width: 40vw;
  padding: 10px 25px 0 25px;
  color: #e2e2e2;
}

.col svg {
  position: relative;
  top: 0;
  left: 0;
}

.col-wrapper {
  margin: 3vh 0 1vh;
  display: flex;
  flex-direction: row;
  align-items: center;
  z-index: 1000000000000;
}

.left {
  display: flex;
  flex-direction: column;
  align-items: center;
  
}
/* header */
.header {
  margin: 0;
  border-bottom: 1px solid #ebebeb;
  padding: 20px 0;
  background: white;
  z-index: 1;
  position: sticky; 
  top: -200px;
}
.shadow {
  height: 158px;
  width: 40vw;
  background: white;
  z-index: 0;
  position: fixed;
  box-shadow: 0 1px 6px 0 rgba(32, 33, 36, 0.28);
}
h1 {
  font-size: 40px;
  letter-spacing: -1px;
  padding-top: 30px;
}
@media screen and (max-width: 1623px) {
  h1 {
    font-size: 28px;
    letter-spacing: 0;
  }
  .shadow {
    height: 157px;
  }
}
@media screen and (max-width: 1204px) {
  h1 {
    font-size: 24px;
    letter-spacing: 0;
  }
  .shadow {
    /* height: 171px; */
  }
}
@media screen and (max-width: 1033px) {
  h1 {
    font-size: 18px;
    letter-spacing: 0;
  }
}

/* body */
.logo{
  margin-top:200px;
  margin-bottom:20px;
  text-align: center;
}
.bar{
  padding: 3px 8px 0 16px;
  margin:0 auto;
  width: 32vw;
  border-radius:30px;
  display: flex;
  border: 1px solid #dcdcdc;
}
.bar:hover{
  box-shadow: 1px 1px 8px 1px #dcdcdc;
}
.bar:focus-within{
  box-shadow: 1px 1px 8px 1px #dcdcdc;
  outline:none;
}
.search-icon {
  fill: #9aa0a6;
  margin: 11px 15px 10px 0;
  line-height: 24px;
  height: 24px;
  font-size: 14px;
  
}
.voice-icon {
  height: 24px;
  margin: 10px 5px 5px 15px;
  line-height: 24px;
  height: 24px;
  font-size: 14px;
}
.searchbar {
  height:45px;
  border:none;
  width:100%;
  font-size:16px;
  outline: none;
}
.voice{
  height:20px;
  position:relative;
  top:5px;
  left:10px;
}

.computer-stem {
  width: 5vw;
  height: 8vh;
  background: #dbdbdb;
  margin: 0 10px;
}
.computer-foot {
  width: 30vw;
  height: 4vh;
  border-radius:50px 50px 0 0;
  background: #dbdbdb;
  box-shadow: 0px -5px 5px 0px rgba(0, 0, 0, 0.13);
  z-index: 1000;

}

.content {
  width: 28vw;
  padding: 8px 40px;
  border-radius: 8px;
  margin-top: 20px;
  border: 1px solid #dfe1e5;
  text-align: left;
  align-self: center;
  pointer-events: none;
}

.annotation {
  color: rgba(0, 0, 0, 0);
  transition: all .2s ease-in-out;
  margin: 10px 0 5px;
  padding-left: 15px;
  border-left: 3px solid rgb(0, 0, 0, 0);
  font-size: 1rem;
  line-height: 1.15rem;
}
.list {
  margin: 0;
  padding-left: 20px;
}
.annoation-con {
  border-color: rgb(147, 206, 255);
}
.annoation-pro {
  border-color: rgb(147, 206, 255);
}
.annotation-link {
  /* display: block; */
  transition: all .2s ease-in-out;
  color: rgba(0, 0, 0, 0);
  font-size: .9rem;
  margin-bottom: 10px;
  letter-spacing: 1.5px;
  opacity: .55;
}
.link-wrapper {
  display: inline-block;
  padding-left: 18px;
}
.highlight {
  text-decoration: none;
  color: black;
  background: #ffffff;
  border: none;
  border-bottom: 3px solid rgb(255, 147, 147);
  position: relative;
  display: inline-block;
  transition: all .2s ease-in-out; 
  cursor: pointer;
  pointer-events: auto;
  outline: none;
  margin: 0;
  margin-top: -3px;
  /* font-size: 1rem; */
  padding: 3px 2px 2px;
}
.highlight_pro {
  border-bottom-color:rgb(147, 206, 255);
}
.highlight:hover {
  cursor: pointer;
  color: black;
  background: rgb(253, 236, 236);
  border-bottom-color: rgb(233, 113, 113);
  transform: scale(1);

}
.highlight_pro:hover {
  background: rgb(236, 243, 253);
  border-bottom-color:rgb(100, 180, 245);
}
.highlight-clicked {
  cursor: pointer;
  color: black;
  background: rgb(255, 224, 224);
  border-bottom-color: rgb(197, 58, 58);
}
.highlight-clicked_pro {
  cursor: pointer;
  color: black;
  background: rgb(219, 230, 247);
  border-bottom-color:rgb(28, 153, 255);
}
.ann-click {
  color: #e2e2e2;
  border-color: rgb(197, 58, 58);

}
.ann-hvr {
  color: white;
  border-color: rgb(233, 113, 113);
}
.ann-click_pro {
  color: #e2e2e2;
  border-color: rgb(28, 153, 255);

}
.ann-hvr_pro {
  color: white;
  border-color: rgb(100, 180, 245);
}


/* media queries */
@media screen and (max-width: 1458px) {
}



a {
  text-decoration: none;
  text-transform: uppercase;
  font-size: .2rem;
  /* letter-spacing: 1px; */
}
a:hover {
  text-decoration: underline;
  font-size: .95rem;
  opacity: 1;
  /* letter-spacing: 1px; */
}
.annotation p {
  margin: 0;

}
.brutalistwebsite {
  padding-left: 0;
}